<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.myapplication">
    <!-- Manifest는 앱에 대한 필수적인 정보를 안드로이드 빌드 툴과 Android OS, 그리고 구글 플레이에 제공한다. -->
    <!-- 카메라를 호출해 촬영하기 위한 내부 카메라 모듈 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 찍은 사진을 저장하기 위한 스토리지 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 선언 -->
    <!-- BroadCastReceiver할 때 사용 했음 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LifeCycleSubExam" android:theme="@android:style/Theme.Translucent">
        </activity>
        <activity android:name=".LifeCycleExam" />
        <activity android:name=".ViewpagerExam" />
        <activity android:name=".RadioButtonExam" />
        <activity android:name=".CheckBoxExam" />
        <activity android:name=".FirebaseListExample" />
        <activity android:name=".ConstraintLayoutExam" /> <!-- 스크린을 가로 방향으로-, 액션바없애기 -->
        <activity
            android:name=".VideoViewExample"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BroadCastReceiverExample" />
        <activity android:name=".RelativeLayoutExam" /> <!-- 로그인 액티비티가 빌드시에 가장 첫화면이 되게 한다. -->
        <activity android:name=".LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterLoginExam" />
        <activity android:name=".LinearLayoutExam" />
        <activity android:name=".SelectorExam" />
        <activity android:name=".SubActivityForResultExam" />
        <activity android:name=".StartActivityForResultExam" />
        <activity android:name=".BottomNaviExam" />
        <activity android:name=".GoogleMapExam" />
        <activity android:name=".MusicPlayerExam" />
        <activity android:name=".SpinnerExam" />
        <activity android:name=".ServiceExam" />
        <activity android:name=".DialogExam" />
        <activity android:name=".ThreadExam" />
        <activity android:name=".Fragment" />
        <activity android:name=".MyRecyclerView" />
        <activity android:name=".Camera" />
        <activity android:name=".NavigateMenuCustom" />
        <activity
            android:name=".NavigateMenu"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SubActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cookandroid.myapplication"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 음악서비스 -->
        <service android:name=".MusicService" /> <!-- 파이어베이스 서비스 -->
        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- 구글 api키 등록 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGUql52p1oiwd3rfleoG1GaCNNZ_ElVhQ" />
    </application>

</manifest>